<div class="polaroid">
  <a href="{{ escaped_link_url }}"{% unless link_url == image_url %} target="_blank" rel="noopener"{% endunless %}>
    <img src="{{ escaped_image_url }}"{% if width %} width="{{ width }}"{% endif %}{% if height %} height="{{ height }}"{% endif %} class="polaroid-image">
  </a>
  <div class="polaroid-title">{{ escaped_title }}</div>
  <div class="polaroid-link">
    {% if link_display %}
    <a href="{{ escaped_link_url }}" target="_blank" rel="noopener">{{ escaped_link_display }}</a>
    {% else %}
    &nbsp;
    {% endif %}
  </div>
  <div class="polaroid-archive">
    {% if archive_url %}
    (<a href="{{ escaped_archive_url }}" target="_blank" rel="noopener">archive</a>)
    {% else %}
    &nbsp;
    {% endif %}
  </div>
</div>


